@import 'tailwindcss';
@source "../../../packages/buttons/src/**/*.{ts,tsx}";
@source "./**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@layer base {
  p {
    @apply text-gray-600 dark:text-gray-300 leading-relaxed mb-4;
  }
}
